<div class="d-flex align-items-center justify-content-between">
    <h1>Twitter Accounts</h1>

    <!--didn't work in rails 7, but below does
    <%= link_to "Connect a Twitter account", "/auth/twitter", method: :post, class: "btn btn-primary", :data => {turbo: "false"}  %> -->
    <%= button_to "Connect a Twitter account",  "/auth/twitter", method: :post, class: "btn btn-primary", :data => {turbo: "false"} %> <!--omniauth must have method post here-->

</div>


<% @twitter_accounts.each do |twitter_account| %>
    <div class="d-flex align-items-center mb-4">
        <div class="me-4">
            <%= image_tag twitter_account.image, class: "rounded-circle" %>
            <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank %>
        </div>

        <!-- didn't work in rails 7>
        <%= button_to "Disconnect", twitter_account, method: :delete, data: { confirm: "Are you sure?"} %> -->
        <%= link_to "Disconnect", twitter_account, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        
    </div>
<% end %>